// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

$darkblue: #6accf3;
$lightblue: #cfebf9; 
$midblue: #bbe1f8;
$white: #ffffff;
$lightgrey: #f2f2f2;
$darkgrey: #676767;

/*typography */
body{
	font-family: 'Roboto', sans-serif;	
	font-weight: 100;
}

html,body{
	margin: 0px;
	padding: 0px;
}
.button{
border: none;
box-shadow: none;
}
.windowheight{
	position: relative;
	
}
h1,h2,h3,h4,h5,h6{
	letter-spacing: 1px;
}
/*main-navigation*/
.top-nav{
	padding-bottom: 0px;
	height: 48px;
}
#main-navigation{
padding-bottom: 0px;
height: 48px;
	h1.logo{
		display: block;
		height: 40px;
		width: 40px;
		font-size: 10px;
		background: #222;
		padding: 0px;
		margin-top: 5px;
		margin-bottom: 0px;	
		float: left;
		a{
			background-image: url('../images/floe-white-logo.svg'); 
			background-position: center center;
			display: block;
			width: 40px;
			height: 40px;
			background-repeat: no-repeat;
			background-size: 70%;
			font-size: 3.2em;
			color: #fff;
			text-transform:lowercase;
			font-weight: 100;
			font-family: 'Georgia', serif;
			font-style: italic;
			text-indent: -999px;
			
		}
	}
}
.top-navigation{
	text-align: right;
	padding-top: 10px;
	li{
		display: inline;
		font-size: 0.7em;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-right: 5px;
		a{
			color: #fff;
			font-weight: 400;
			background: rgba(255,255,255,0);
			padding: 5px 10px;
			border-radius: 5px;
		}
		&:last-child{
			a{
				background: #222;
				color: #fff;
			}
		}
	}
}
/* home page */
#welcome-banner{
	//background: darken($darkblue, 40) url('../images/lightbulb.svg')) no-repeat center bottom;
	background-color: darken($darkblue, 40);
	background-image: url('../images/mountain.svg');
	background-repeat:repeat-x;
	background-size: 450px;
	background-position-y: 60%;
	background-position-x: center;

}
#welcome-message{
	position: relative;
	top: 25%;	
	text-align: center;
	
	h2{
		font-size: 1.5em;
		color: #fff;
	}
}
#media-banner{
	background: #222;
	min-height: 100px;
	color: #fff;
	padding-top: 20px;
}
#about{
}
#features h3{
	text-transform: uppercase;
	font-size: 1em;
}