// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

$darkblue: #6accf3;
$lightblue: #cfebf9; 
$midblue: #bbe1f8;
$white: #ffffff;
$lightgrey: #f2f2f2;
$darkgrey: #676767;

/*typography */
body{
	font-family: 'Roboto', sans-serif;	
}

html,body{
	margin: 0px;
	padding: 0px;
}
.button{
	
}
.windowheight{
	position: relative;
	
}
/*main-navigation*/
#main-navigation{
	h1.logo{
		display: block;
		width: 120px;
		height: 40px;
		font-size: 10px;
		margin-top: 10px;
		
		a{
			background-image: url('../images/floe-white-logo.svg'); 
			display: block;
			width: 120px;
			height: 40px;
			background-repeat: no-repeat;
			background-size: 40px;
			padding-left: 50px;
			font-size: 3em;
			color: #fff;
			text-transform: capitalize;
			font-weight: 100;
		}
	}
}
/* home page */
#welcome-banner{
	//background: darken($darkblue, 40) url('../images/lightbulb.svg')) no-repeat center bottom;
	background-color: darken($darkblue, 40);
	background-image: url('../images/mountain.svg');
	background-repeat:repeat-x;
	background-size: 450px;
	background-position-y: 60%;
	background-position-x: center;

}
#welcome-message{
	position: relative;
	top: 25%;	
	text-align: center;
	
	h2{
		font-size: 1.5em;
		color: #fff;
	}
}